body {
    background-color: #212121 !important;
}

textarea {
    resize: none;
}

.form-group.required .control-label:after {
  content:" *";
  color: #f44336;
}

p {
    text-align: justify;
    text-indent: 30px;
}

.header {
	height: 270px;
	background-color: rgb(33, 150, 243);
	color: white;
}

.header a, .header a:hover, .header a:visited {
	color: white;
}

.pages {
	margin-top: -145px;
}

.page {
    transform: translateY(1080px);
    transition: transform 0 linear;
    display: none;
    opacity: 0;
    font-size: 16px;
}

.page.active {
    transform: translateY(0px);
    transition: all 0.3s ease-out;
    display: block;
    opacity: 1;
}

.btn-pink {
	background-color: #e91e63 !important;
	color: white !important;
}

.btn-pink:hover {
	background-color: #d81b60 !important;
	color: white !important;
}

.form-group .btn-fab {
    height: 35px;
    width: 35px;
    min-width: 35px;
    margin-top: 25px;
}

.alert {
    height: 35px;
    padding: 7px 30px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    display: none;
}

.alert-success {
    border: #008600 1px solid;
}

.alert-danger {
    background-color: #9e241b;
    border: #7d140c 1px solid;
}

.item-grau h2, .item-grau h4 {
    display: inline;
    vertical-align: middle;
}

#is-conexo-icon, #possui-euler-icon {
    font-size: 25rem !important;
}

th {
    text-align: center;
}

.radio label {
    color: #333;
}

.arquivo a {
    font-size: 0.9em;
}